* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

/* Wireframing code includes the borders */
.navbar-section {
    border: 3px solid green;
    height: 9vh;
    position: fixed;
    width: 98vw;
    top: 2%;
    right: 0%;
}

nav {
    display: flex;
}

.banner-one {
    border: 3px solid red;
    width: 100vw;
    height: 100vh;
}

.banner-two {
    border: 3px solid red;
    width: 100vw;
    height: 50vh;
}

.container {
    border: 3px solid yellow;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto / auto;
    grid-gap: 4px;
}

.container-two {
    border: 3px solid yellow;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
}

.product-section-item {
    border: 3px solid purple;
    /* max-width: 60vw; */
    height: 55vh;
    display: grid;
    grid-template-rows: auto auto;
    max-width: 48vw;
}

.product-section-item img {
    border: pink 3px solid;
    height: 40vh;
    width: 47vw;
}

.product-section-item h3 {
    border: 3px solid black;
}

.product-section-item p {
    border: 3px solid green;
}

.product-section-item-one {
    border: 3px solid purple;
}

.product-section-items {
    border: 3px solid brown;
    height: 60vh;
    max-width: 40vw;
}

.footer-content {
    border: 3px solid blue;
    width: 100vw;
    height: 40vh;
}